
/* index css  */
#welcome_sign{
  color: rgba(151, 5, 23, 0.9);
  font-weight:bold;
}

/* group photo*/
#welcome_group{
  width: 75%;
}

#course_message{
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 19px;
}


/* intranet css  */
#intranet1{
  width: 70%;
}
#int1{
 width: 400px;
}
#intranet2{
  width: 70%;
}
#int2{
  width: 400px;
}
#intranet3{
  width: 70%;
}
#int3{
  width: 400px;
}
#intranet4{
  width: 60%;
}
#int4{
  width: 400px;
}
#intranet5{
  width: 60%;
}
#int5{
  width: 400px;
}
#intranet6{
  width: 50%;
}
#int6{
  width: 400px;
}
#intranet7{
  width: 60%;
}
#int7{
  width: 400px;
}
#intranet8{
  width: 80%;
}
#int8{
  width: 400px;
}
#intranet9{
  width: 50%;
}
#int9{
  width: 400px;
}
#intranet10{
  width: 40%;
}
#int10{
  width: 400px;
}
#intranet11{
  width: 80%;
}
#int11{
  width: 400px;
}
#intranet12{
  width: 70%;
}
#int12{
  width: 400px;
}
#intranet13{
  width: 70%;
}
#int13{
  width: 400px;
}
#intranet14{
  width: 70%;
}
#int14{
  width: 400px;
}
#intranet15{
  width: 70%;
}
#int15{
  width: 400px;
}
#intranet16{
  width: 15%;
}
#int16{
  width: 400px;
}
 
/* amazon css */
#jhoades{
  width: 400px;
}
#jhoades1{
  width: 90%;
}
#achen{
  width: 400px;
}
#achen1{
  width: 80%;
}
#jdasgupta{
  width: 400px;
}
#jdasgupta1{
  width: 80%;
}
#arammy{
  width: 400px;
}
#arammy1{
  width: 25%;
}

/* h&m css */
#rrodela{
  width: 100%;
}
#rrodela1{
  width: 400px;
}

/* a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
} */

.fas .fa-bars .pe-2{
 color: red; 
}

h1{
  color: black;
  background-color: #ab9b9b;
  
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

h2{
  text-align: center;
}

img {
  /* width: 56%; */
  /* height: 50%;
  margin: 10px;
  border: 6px solid black; */
  /* border-radius: 20px;
  padding: 20px; */
}

#welcome_group{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.class_selector{
  background-color: orange;
  font-size: 10pt;
  
}

/* The search bar and button */
#special {
  background-color: green;
  border: 3px solid black;
  border-radius: 10px;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: progress;
}



/* how to make tables and insert images into table */
table, th, td {
  /* border: 1px solid black; */
  
}
table{
  width: 95%;
}

tr {
  text-align: center;
}

.table_img{
  text-align: center;
}
.table_heading{
  font-size: 30px;
  font-weight: bold;
  color:rgba(151, 16, 33, 1);
  text-align: center;
}
.table_link{
  color: rgba(151, 16, 33, 1);
  background-color: transparent;
  text-decoration: none;
  text-align: left;
}
.table_message{
  font-size: 19px;
  /* text-align: ; */
}





/* nav bar */
.navbar-dark .nav-item .nav-link {
  color: #fff;
  
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}


body {
}



/* footer */
footer{
  
  position: static;
  margin-top: 100px;
  padding-top: 100px;
  left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
